.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-ul {
  list-style-type: none;
  padding: 0;
}

.blog-li {
  border-style: solid;
  margin: 0.2rem;
  border-width: 1px;
  padding: 0.5rem;
}
